.mainLogo {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.mainPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainText {
    text-align: center;
}

label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

input {
    margin: 10px;
    background-color: #f2f2f2;
    width: 250px;
    height: 25px;
}
