body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-lightgrey: rgb(111, 104, 104);
  --color-black: rgba(0, 0, 0, 1);
  --color-text: #ffffff;
  --color-button-background: #638e93;
  --color-button-hover: #4b5a86;
  --color-button-active: rgba(47, 55, 82, 0.48);
  --color-button-border: #717373;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: var(--color-button-background); /* Green */
  color: var(--color-text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 1pc;
  border: 2px solid var(--color-button-border);
}

a:link, a:visited {
  background-color: var(--color-button-background);
  color: var(--color-text);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: var(--color-button-hover);
}