@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}

h2 {
    color: #638e93;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}


h4 {
    padding: 5px;
}


.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerStandardStyle {
    display: flex;
    justify-content: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    align-self: center;
    background-color: #638e93;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.navbar {
    min-width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: #919196 solid 1px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    text-decoration: underline;
    color: black;
}

.navbar a.active {
    color: white;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}
