body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}

h4 {
    padding: 5px;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerStandardStyle {
    display: flex;
    justify-content: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    width: 20vw;
    align-self: center;
    background-color: #638e93;
    color: white;
    text-align: center;
    padding: 10px 24px;
}

.navbar {
    min-width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: #919196 solid 1px;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    text-decoration: underline;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    color: white;
}

