.addProjectForm {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.addProjectForm__input {
    margin: 0 10px 0 10px;
    background-color: #f2f2f2;
}

.projectCard {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

input.addProjectForm__input {
    margin: 10px;
    background-color: #f2f2f2;
    width: 250px;
    height: 25px;
}

p.addProjectButton {
    color: #638e93;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
