.project__card {
    background-color: #f2f2f2;
    width: 90vw;
    display: grid;
    justify-content: center;
}

.label {
    color: #919196;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.data {
    color: #638e93;
    font-style: italic;
    display: flex;
    justify-content: center;
}
