.project__card {
    background-color: #f2f2f2;
    width: 90vw;
    display: grid;
    justify-content: center;
}

.input {
    color: #638e93;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding: 5px 0 5px 0;
    margin: 0;
    border: none;
    width: 280px;
    height: 10vh;
}

.inputTernary {
    color: #638e93;
    word-wrap: break-word;
}


.label {
    color: #919196;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.radio {
    color: #919196;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    margin: 0;
}

.popup-inner {
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    padding: 20px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
}



