.project__card {
    background-color: #f2f2f2;
    width: 100%;
    display: grid;
    justify-content: center;
}

.data {
    color: #638e93;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding: 5px 0 5px 0;
    margin: 0;
}

.label {
    color: #919196;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;

}

.popup-inner {
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    padding: 20px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
}
