name: Deploy App to AWS_EC2 tomcat

on:
  push:
    branches:
      - main

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Build Frontend
        working-directory: frontend
        run: |
          npm install
          npm run build
      - uses: actions/upload-artifact@v2
        with:
          name: frontend-build
          path: frontend/build/

  build-backend:
    runs-on: ubuntu-20.04
    needs: build-frontend
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '19'
          distribution: 'adopt'
      - uses: actions/download-artifact@v2
        with:
          name: frontend-build
          path: backend/src/main/resources/static
      - name: Build with maven
        working-directory: backend
        run: mvn -B package
      - uses: actions/upload-artifact@v2
        with:
          name: aquaponic-app.war
          path: backend/target/aquaponic-app.war

deploy-aws:
  runs-on: ubuntu-latest
  needs: build-backend
  steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: aquaponic-app.war
        path: backend/target
    - name: Deploy
      env:
        TOMCAT_PUBLIC_ADDRESS: ${{ secrets.TOMCAT_PUBLIC_ADDRESS }}
        TOMCAT_USER: ${{ secrets.TOMCAT_USER }}
        TOMCAT_PASSWORD: ${{ secrets.TOMCAT_PASSWORD }}
      working-directory: backend/target
      run: curl --verbose --user $TOMCAT_USERPW --upload-file aquaponic-app.war "$TOMCAT_PUBLIC_ADDRESS/manager/text/deploy?path=/&update=true"